@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

*{
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body{
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: #1e2823;
}
.toolbar{
  display: flex;
  justify-content: space-between;
  padding: 20px 5%;
  position: fixed;
  top: 0;
  width: 90%;
  background-color: #fff;
  height: 45px;
}
.logo, .toggle-menu{
  padding: 10px 12px;
}
.logo p, .toggle-menu p{
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  cursor: pointer;
}
.headline{
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  background-image: url(../images/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.headline h1{
  align-self: center;
}
.introduction{
  padding: 64px 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 60px;
  text-align: center;
}
.introduction .greeting{
  margin-top: 0;
  color: #172B4D;
}
.introduction .describe{
  color: #36B37E;
}
.introduction .explanations{
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 35px;
}
.social-icons a{
  padding: 0 10px;
}
.social-icons img{
  width: 20px;
  height: 20px;
}
