* {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: #1e2823;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 5%;
  position: fixed;
  top: 0;
  width: 90%;
  background-color: #fff;
  height: 45px;
}

.logo,
.toggle-menu {
  padding: 10px 12px;
}

.logo a {
  font-weight: 600;
  font-size: 20px;
  color: inherit;
}

.headline {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  background-image: url(../images/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.headline h1 {
  align-self: center;
}

.introduction {
  display: flex;
  flex-direction: column;
  padding: 62px 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 60px;
  text-align: center;
}

.introduction .greeting {
  margin-bottom: 0;
  color: #172b4d;
  width: 0;
  overflow: hidden;
  animation: typing 8s steps(18, end) forwards;
}

@keyframes typing {
  0% {
    width: 0;
  }

  33% {
    width: 100%;
  }

  100% {
    width: 100%;
  }
}

.introduction .describe {
  color: #36b37e;
}

.introduction .explanations {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 35px;
  margin-top: 0;
}

.social-icons {
  display: flex;
  padding: 0;
  justify-content: center;
}

.social-icons li {
  list-style-type: none;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
  }
}

.social-icons a {
  padding: 0 10px;
}

.social-icons img {
  width: 20px;
  height: 20px;
}

.open-menu {
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.navigation a {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #3a4a42;
}

.navigation a:hover {
  color: #213d81;
}

.open-menu:hover,
.menu-desktop ul li a:hover {
  color: #213d81;
}

.close-menu {
  background-color: transparent;
  border: none;
  font-size: 19px;
  align-self: flex-end;
  cursor: pointer;
  color: #67798e;
  margin-right: 11px;
}

.close-menu:hover {
  color: red;
}

.navigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: -100%;
  background-color: #fff;
  width: calc(100% - 10%);
  height: 100%;
  padding: 10% 5%;
}

.navigation ul {
  list-style-type: none;
}

.navigation li {
  height: 56px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.move-down-arrow {
  background-color: #fff;
  border: 1px solid #d7dadf;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  align-self: center;
}

.move-down-arrow:hover {
  color: #213d81;
  border: 1px solid #213d81;
}

.animate-left {
  animation: slide-left 1s ease forwards;
  left: -100%;
}

.animate-right {
  animation: slide-right 1s ease forwards;
  left: 0;
}

@keyframes slide-right {
  0% {
    left: -100%;
  }

  100% {
    left: 0;
  }
}

@keyframes slide-left {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

.achieved-work {
  padding: 90px 24px 0 24px;
}

.achieved-work,
.about-section {
  background-color: #fff;
}

.about-section {
  background-image: url(../images/footer_banner.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-top: 50px;
}

.about-top,
.about-me-second-text,
.contact-form {
  padding: 0 24px;
}

.section-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 24px;
}

.section-title-separators {
  border: 3px solid #36b37e;
  width: 48px;
  margin-bottom: 48px;
}

.card {
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px auto;
}

.project-description {
  padding: 16px;
  text-align: center;
  border-top: 1px solid #d0d9d4;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #fff;
}

.project-description h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin: 16px auto;
}

.achievementlist,
.about-my-knowleadge {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 24px;
}

.projectimages {
  width: 100%;
  background-color: #ebf0ee;
  margin-bottom: -5px;
}

#achievementlist .projectimages:hover {
  transform: scale(1.5) rotate(30deg);
  transition: all 0.5s;
}

.languages {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
  margin: 16px 0;
}

.languages li {
  background-color: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 5px;
  font-size: 12px;
  font-weight: 600;
}

@keyframes slide-left-right {
  from {
    background-position: right;
  }

  to {
    background-position: left;
    background-color: #172b4d;
  }
}

.success-button {
  cursor: pointer;
  background: linear-gradient(to left, #36b37f 50%, #172b4d 50%) right;
  background-size: 210%;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin: auto;
  border: none;
  color: #fff;
  padding: 10px 12px;
  border-radius: 9px;
}

.achievement-modal {
  position: fixed;
  display: none;
  background-color: #48484880;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}

.modal {
  background-color: #fff;
  padding: 16px;
  border-radius: 16px;
  width: 70%;
  margin: -200% auto auto auto;
}

.modal-banner {
  border-radius: 8px;
}

.languages-left {
  justify-content: initial;
  margin-top: 0;
}

.modal-header {
  display: grid;
  grid-template-columns: 100%;
}

.modal-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 12px;
  margin-bottom: 12px;
}

.achievement-modal p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  text-align: justify;
}

.modal-buttons {
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.modal-buttons.desktop-view {
  display: none;
}

.modal-buttons.mobile-view {
  display: flex;
}

.medium-size {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  padding: 8px 12px;
}

.success-button:hover {
  background-color: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  animation: slide-left-right 0.5s;
  animation-fill-mode: forwards;
}

.success-button:active {
  background-color: #218838;
}

.modal-close {
  position: absolute;
  left: 75%;
  top: 5%;
  color: #8d8e91;
  font-size: 20px;
  padding: 1px 6px;
  border-radius: 50%;
}

.project-modal-up {
  animation: slide-up 1s ease forwards;
}

.project-modal-down {
  animation: slide-down 1s ease forwards;
}

@keyframes slide-up {
  0% {
    margin-top: 16px;
  }

  100% {
    margin-top: -200%;
  }
}

@keyframes slide-down {
  0% {
    margin-top: -200%;
  }

  100% {
    margin-top: 16px;
  }
}

.project-button-wrapper {
  margin-bottom: 10px;
  margin-top: 25px;
}

.about-section p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.button-wrapper-center {
  text-align: center;
  margin: 36px auto;
}

.about-tag-image {
  width: 70%;
  margin: 15%;
}

.about-my-knowleadge .card {
  background-color: #ebf0ee;
  text-align: center;
  width: 100%;
}

.about-my-knowleadge .image-card {
  width: 80px;
  height: 80px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
  text-align: center;
}

.about-description ul li {
  background-color: #fff;
}

.about-me-second-text {
  font-weight: 700;
  text-align: center;
  font-size: 35px;
  line-height: 52px;
  color: #172b4d;
}

.social-icons li:hover {
  animation: bounce 1.5s ease infinite;
}

.form-group textarea {
  height: 114px;
}

.form-control::placeholder {
  color: #6b778c;
}

.form-control {
  border-radius: 4px;
  border: 1px solid #d0d9d4;
  padding: 15px 16px;
  font-size: 15px;
  font-weight: 400;
  color: #091e42;
  line-height: 1.5;
}

.error-msg {
  display: none;
  color: #ff6163;
  font-size: 12px;
  margin-top: 10px;
}

.form-control:focus ~ .error-msg {
  display: none;
}

.form-control:valid {
  border: 1px solid #218838;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.myemailaddress {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.contact-form {
  margin: 80px 0;
  display: flex;
  flex-direction: column;
}

.footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer p {
  margin-top: 25px;
}

.about-top {
  background-image: url(../images/about-me-mobile.svg), url(../images/image-about-two.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, top right;
}

.menu-desktop {
  display: none;
}

.form-details {
  display: grid;
  grid-template-columns: 1fr;
}

.group-input-contact {
  display: none;
}

.project-image-card {
  overflow: hidden;
}

.active {
  border-bottom: 5px solid #3a4a42;
  padding-bottom: 10px;
}
